$white: #fff;
$black: #000;
$black2: #0D0D0C;
$black3: #333333;
$gray: #858585;
$gray2: #d8d8d8;
$gray3: #7E7E7E;
$gray4: #F3F6F6;
$gray5: #e7e7e7;
$orange: #f87458;
$black-gray: linear-gradient(90deg, rgba($black3, 0.8) 32.52%, rgba($orange, 1) 100%);
$black-gray2: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 32.52%, rgba($orange, 1) 100%);